/*** Global ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.laptop {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-image: url("../../assets/images/white-waves.png");
}

/*** Laptop ***/
.laptop {
  max-width: 1070px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
}

/*** Laptop Screen ***/
.screen {
  background-color: hsl(208, 100%, 98%);
  border: black solid 30px;
  border-bottom: 20px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 3% 10% 0 10%;
  max-width: 1070px;
  padding: 50px 60px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  box-shadow: 0 0 10px #696969;
  position: relative;
}
.screen-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#lock-icon {
  margin-right: 5px;
  vertical-align: -1px;
  opacity: .3;
}

#copy-btn {
  border: 1px solid rgba(0, 0, 0, .3) ;
  border-radius: 5px;
  font-family: inherit;
  background-color: inherit;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  visibility: hidden;
}

#copy-icon {
  margin-left: 7px;
  vertical-align: -1px;
  opacity: .3;
}

#copy-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 1px #808080;
}

.screen-body::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.screen-body {
  min-height: 100px;
}

/*** Password text area ***/
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.screen-footer {
  text-align: center;
}

.screen-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*** Generate button ***/
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.btn:hover[enabled] {
  background-color: hsl(0, 100%, 46%);
  box-shadow: 0 0 7px #808080;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/*** Tablet Button default hidden ***/
.tablet-btn{
  visibility: hidden;
}

/*** Laptop body ***/
.box1 {
  margin: 0 auto;
  max-width: 1030px;
  height: 30px;
  background-color: #c5ced7;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 10px #696969;
}
.box1-sm {
  height: 15px;
  width: 17%;
  background-color: #a8a9ad;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 42%;
}
.box2 {
  margin: 0 auto;
  max-width: 1030px;
  border-top: 20px solid #7e858f;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
}

/*--------------------*/
/*** Responsiveness ***/
/*--------------------*/

/*** Tablet size screens ***/
@media (max-width: 769px) {
  .screen {
    border-bottom: 30px solid black;
    border-radius: 20px;
    padding: 30px 10px 20px 10px;
    margin: 0 auto;
    height: 32rem;
  }

  .screen-header h2{
    font-size: 3vw;
  }

  #password {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    margin-top: 6rem;
    padding: 10px 15px;
  }
  /*** Changes look of laptop to tablet ***/
  .mac-bottom {
    visibility: hidden;
  }

  .tablet-btn{
    visibility: visible;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #080808;
    border: 1px solid #303030;
    position: absolute;
    left: 47%;
    bottom: -5.4%;
  }
}

/*** Mobile size screens ***/
@media (max-width: 500px) {
  #copy-btn{
    font-size: 10px;
    margin: 0; 
    padding: 2px 5px;   
  }
  
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-height: 415px){
  .btn {
      margin-top: 4rem;
  }
}

